@model BusranurCirikCv.Models.Entity.TblEgitimlerim

@{
    ViewBag.Title = "EgitimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h4>Eğitim Düzenleme</h4>
    @Html.Label("Deneyim ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.Label("Alt Başlık1")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    @Html.Label("Alt Başlık2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-dark">Güncelle</button>

</form>



